<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublicServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ARM/WebServices/Public/publicservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicServiceSoap"
                contract="ArmService.PublicServiceSoap" name="PublicServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>