<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiDemoConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
		<section name="microsoft.web.services3"
   type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration,&#xD;&#xA;     Microsoft.Web.Services3,Version=3.0.0.0,Culture=neutral,&#xD;&#xA;     PublicKeyToken=31bf3856ad364e35"

                                     />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublicServiceSoap" />
                <binding name="PublicServiceSoap1" />
                <binding name="PublicServiceSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ARM/WebServices/Public/publicservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicServiceSoap"
                contract="ArmService.PublicServiceSoap" name="PublicServiceSoap" />
            <endpoint address="http://localhost/ARM/WebServices/Public/publicservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicServiceSoap1"
                contract="ArmService.PublicServiceSoap" name="PublicServiceSoap1" />
            <endpoint address="http://localhost/ARM/WebServices/Public/publicservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicServiceSoap2"
                contract="ArmService.PublicServiceSoap" name="PublicServiceSoap2" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ApiDemoConsoleApplication.Properties.Settings>
            <setting name="ApiDemoConsoleApplication_FormsAuthenticator_OfflineFormsAuthenticator"
                serializeAs="String">
                <value>https://arm20branch.arm-qa.com/arm/Secure/Services/OfflineFormsAuthenticator.asmx</value>
            </setting>
        </ApiDemoConsoleApplication.Properties.Settings>
    </applicationSettings>
	<microsoft.web.services3>
		<policy fileName="wse3policy.config" />
	</microsoft.web.services3>
</configuration>