<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiDemoConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublicServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ARM/WebServices/Public/publicservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicServiceSoap"
                contract="ArmService.PublicServiceSoap" name="PublicServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ApiDemoConsoleApplication.Properties.Settings>
            <setting name="ApiDemoConsoleApplication_FormsAuthenticator_OfflineFormsAuthenticator"
                serializeAs="String">
                <value>https://arm20branch.arm-qa.com/arm/Secure/Services/OfflineFormsAuthenticator.asmx</value>
            </setting>
        </ApiDemoConsoleApplication.Properties.Settings>
    </applicationSettings>
</configuration>